.App {
  box-sizing: border-box;
  color: #ececec;
  background-color: #232323;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  width: 100%;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px;
  font-size: calc(12px + 1vmin);
}

input {
  padding-left: 5px;
  padding-right: 5px;
}

input[type='submit'] {
  width: fit-content;
}

a {
  color: #c3c3c3;
}

th {
  background: #232323;
}

th, td {
  text-align: center;
  padding: 5px 10px;
}

h3 {
  margin-bottom: 15px;
}

.login-form a {
  font-size: calc(12px + 1vmin);
}

.asset-contracts-view-header {
  margin-bottom: 5px;
}

.place-bid-modal-header {
  margin-top: 0px;
  margin-bottom: 20px;
}

.contract-table-row {
  background-color: #333333;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  font-size: calc(12px + 1vmin);
}

.nav-bar a {
  color: #ececec;
}

.nav-bar-left {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.error-message {
  font-size: calc(10px + 1vmin);
  color: #ee6060;
}

.asset-list {
  display: flex;
  flex-direction: column;
}

.asset-details {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.place-bid-modal, .pool-asset-deposit-modal, .pool-asset-withdraw-modal, .pool-fees-withdraw-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #232323;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 5px white;

  color: #ececec;
  text-align: center;
}
@media only screen and (max-width: 768px) {

  .App {
    padding-left: 5px;
    padding-right: 5px;
  }

}