$positive-price-color: #63E163;
$negative-price-color: #D43F3F;

.assetPage {
  max-width: 1150px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.assetList {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.assetDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 200px;
  background-color: rgba(0,0,0,0.75);
  background-size: cover;
  background-position: center;
  background-blend-mode: darken;
  margin: 0px 0px;
  border-radius: 1em;
}

.assetName {
  font-size: 32pt;
  font-weight: bold;
}

.assetPriceInfo {
  font-size: 18pt;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.assetPrice {
  font-size: 24pt;
}

.assetPriceHistoryGraph {
  margin-top: 5px;
  margin-bottom: 5px;
}

#positivePrice {
  color: $positive-price-color;
}

#negativePrice {
  color: $negative-price-color;
}

.contractsPageHeader {
  margin-bottom: 5px;
}

.tableContracts {
  height: 50vh;
  overflow-y: scroll;
}

.contractTableRow {
  background-color: #333333;
}
