$cardHeight: 360px;
$cardWidth: 260px;
$cardBorderRadius: 20px;

.discoverResultsPage {
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredTypeResults {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 20px;
  background-color: #333333;
  border-radius: $cardBorderRadius;
}

#featuredTypeResultsReviewButton {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  padding: 15px 20px;
  background-color: #ACF4A6;
  border-radius: 1rem;
}

.featuredTypeResultsSelected {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.featuredTypeResultsScroll {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 20px;
  height: $cardHeight;
  padding: 20px 10px;
}

.featuredCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; // Required for scrolling view
  gap: 20px;
  text-align: center;
  height: $cardHeight;
  width: $cardWidth;
  color: #232323;
  background-color: #ffffff;
  border-radius: 20px;
  border-style: solid;
  font-weight: 300;
  font-size: 24px;
  overflow: hidden;
  cursor: default;
}

#featuredCardInfoIcon {
  font-size: 24px;
  color: #232323;
  padding: 15px 15px 15px 15px;
  border-radius: 0 0 0 $cardBorderRadius;
  cursor: pointer;
}

#featuredCardBadge {
  width: 70%;
  margin-top: 20px;
  padding: 3px 5px 3px 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 $cardBorderRadius $cardBorderRadius 0;
  cursor: help;
}

.featuredCardHeaders {
  font-size: 32px;
}

.featuredCardHeaders h3 {
  font-weight: 300;
  margin: 0px;
}

.featuredCardBubbles {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#priceBubble, #daysBubble {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 1.5rem;
}

#priceBubble {
  background-color: #DDFFC9;
}

#daysBubble {
  background-color: #C9F2FF;
}

.featuredCardTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#featuredCardSelectButton, #featuredCardSelectButtonSelected {
  width: 80%;
  font-size: 36px;
  font-weight: bold;
  padding: 15px 20px;
  background: linear-gradient(240deg, #F4E3A6, #f4e3a655);
  border-radius: 1rem;
}

#featuredCardSelectButtonSelected {
  background: #8B8B8B;
}
