.discoverResultsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featuredTypeResults {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.resultsComponent {
  text-align: center;
  height: 380px;
  width: 280px;
  margin: 20px 0px;
  // padding: 10px;
  color: #232323;
  background-color: #ffffff;
  border-radius: 20px;
  border-style: solid;
  font-weight: 300;
  font-size: 24px;
  overflow: hidden;
}

.resultsComponentInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.resultsComponentHeaders {
  font-size: 36px;
}

.resultsComponentHeaders h3 {
  font-weight: 300;
  margin: 0px;
}

.resultsComponentBubbles {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#priceBubble, #daysBubble {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 1.2em;
}

#priceBubble {
  background-color: #DDFFC9;
}

#daysBubble {
  background-color: #C9F2FF;
}

.resultsComponentInfoIconArea {
  display: flex;
  justify-content: end;
  width: 100%;
}

#resultsComponentInfoIcon {
  // position: absolute;
  font-size: 24px;
  color: #232323;
  padding: 15px 15px 15px 15px;
  border-radius: 0em 0px 0em 20px;
}

.resultsComponentBadgeArea {
  position: absolute;
  width: 200px;
  margin-top: 20px;
}

#resultsComponentBadge {
  display: flex;
  justify-content: left;
  padding: 3px 0px 3px 10px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 0 1em 1em 0;
}

// .resultsComponentBadge {
//   width: 80%;
//   font-weight: bold;
//   padding: 10px 0px;
//   border-radius: 1em;
// }

.resultsComponent button {
  width: 80%;
  font-size: 48px;
  font-weight: bold;
  padding: 10px 20px;
  background: linear-gradient(240deg, #F4E3A6, #f4e3a655);
  border-radius: 0.5em;
}



